@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: #2f2f2f;
  color: white;
}

.destaque-titulo-design {
  color: #fec3c7;
}
.destaque-titulo-create {
  color: #9ad7f3;
}
.destaque-titulo-inspire {
  color: #6bdfda;
}

.apresentacao {
  margin: 2% 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 150px;
}

.apresentacao__conteudo {
  width: 50%;
  height: 582px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 10%;
}
.apresentacao__conteudo__titulo {
  font-size: 4.5rem; /*pega o valor do px e divide por 16 para obter o valor de rem */
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.apresentacao__conteudo__texto {
  font-size: 1.5rem;
  font-family: "Poppins", serif;
}

.apresentacao__link {
  display: flex;
}

.apresentacao__link__explorar {
  background-color: white;
  width: 50%;
  text-align: center;
  border-radius: 36px;
  font-size: 1.5rem;
  font-family: "Poppins", serif;
  padding: 15px 15px;
  text-decoration: none;
  color: #737373;
}

.apresentacao__link__explorar:hover {
  background-color: #bda5ff;
}

.apresentacao__imagens {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /*4 colunas */
  grid-template-rows: repeat(4, auto); /*4 linhas*/
  justify-content: center; /* Garante que as imagens fiquem centralizadas no grid */
  gap: 20px;
}

.apresentacao__imagens img {
  width: 100%; /* Ajuste para ocupar 100% da largura da célula do grid */
  height: auto; /* Altura automática para manter a proporção */
  border-radius: 40px;
  object-fit: cover; /* Quando uma imagem não tem as mesmas proporções do espaço que a contém, o object-fit define como ela será redimensionada. O valor cover faz com que a imagem preencha completamente o espaço disponível sem deformar, cortando partes da imagem se necessário. */
}

@media (max-width: 1051px) {
  .apresentacao {
    flex-direction: column;
    padding: 15px 0px;
  }

  .apresentacao__imagens {
    display: grid;
    flex-direction: column;
    padding: 15px;
  }

  .destaque-titulo-design {
    display: flex;
    justify-content: center;
    font-size: 5rem;
  }
  .destaque-titulo-create {
    display: flex;
    justify-content: center;
    font-size: 5rem;
  }

  .destaque-titulo-inspire {
    display: flex;
    justify-content: center;
    font-size: 5rem;
  }

  .apresentacao__conteudo {
    padding: 2%;
  }

  .apresentacao__conteudo__texto {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
  }
  .apresentacao__link {
    display: flex;
    justify-content: center;
    padding: 5% 5%;
  }

  .apresentacao__link__explorar {
    font-size: 1.8rem;
  }
}

@media (max-width: 766px) {
  .apresentacao__imagens {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center; /* Centraliza os itens no grid */
    padding: 15%;
  }

  .apresentacao__imagens img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 585px) {
  .apresentacao__imagens {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center; /* Centraliza os itens no grid */
    padding: 30%;
  }

  .apresentacao__imagens img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 542px) {
  .apresentacao__imagens {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center; /* Centraliza os itens no grid */
    padding: 40%;
  }

  .apresentacao__imagens img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 525px) {
  .apresentacao__imagens {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center; /* Centraliza os itens no grid */
    padding: 50%;
  }

  .apresentacao__imagens img {
    width: 90%;
    height: auto;
  }
}

@media (max-width: 523px) {
  .apresentacao__imagens {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center; /* Centraliza os itens no grid */
    padding: 60%;
  }

  .apresentacao__imagens img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 523px) {
  .apresentacao__imagens {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center; /* Centraliza os itens no grid */
    padding: 70%;
  }

  .apresentacao__imagens img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 478px) {
  .apresentacao__imagens {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center; /* Centraliza os itens no grid */
    padding: 80%;
  }

  .apresentacao__imagens img {
    width: 100%;
    height: auto;
  }

  .apresentacao__link__explorar {
    font-size: 1rem;
  }
}

@media (max-width: 451px) {
  .apresentacao__imagens {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center; /* Centraliza os itens no grid */
    padding: 80%;
  }

  .apresentacao__imagens img {
    width: 100%;
    height: auto;
  }

  .apresentacao__link__explorar {
    font-size: 1rem;
  }
}

@media (max-width: 422px) {
  .apresentacao__imagens {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center; /* Centraliza os itens no grid */
    padding: 90%;
  }

  .apresentacao__imagens img {
    width: 100%;
    height: auto;
  }

  .apresentacao__link__explorar {
    font-size: 1rem;
  }
}

@media (max-width: 391px) {
  .apresentacao__imagens {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center; /* Centraliza os itens no grid */
    padding: 110%;
  }

  .apresentacao__imagens img {
    width: 100%;
    height: auto;
  }

  .apresentacao__link__explorar {
    font-size: 1rem;
  }
}

@media (max-width: 359px) {
  .apresentacao__imagens {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center; /* Centraliza os itens no grid */
    padding: 120%;
  }

  .apresentacao__imagens img {
    width: 100%;
    height: auto;
  }

  .apresentacao__link__explorar {
    font-size: 1rem;
  }
}

@media (max-width: 328px) {
  .apresentacao__imagens {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center; /* Centraliza os itens no grid */
    padding: 130%;
  }

  .apresentacao__imagens img {
    width: 100%;
    height: auto;
  }

  .apresentacao__link__explorar {
    font-size: 1rem;
  }
}

@media (max-width: 302px) {
  .apresentacao__imagens {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center; /* Centraliza os itens no grid */
    padding: 140%;
  }

  .apresentacao__imagens img {
    width: 100%;
    height: auto;
  }

  .apresentacao__link__explorar {
    font-size: 1rem;
  }
}

@media (max-width: 281px) {
  .apresentacao__imagens {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center; /* Centraliza os itens no grid */
    padding: 150%;
  }

  .apresentacao__imagens img {
    width: 100%;
    height: auto;
  }

  .apresentacao__link__explorar {
    font-size: 1rem;
  }
}

@media (max-width: 268px) {
  .apresentacao__imagens {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center; /* Centraliza os itens no grid */
    padding: 160%;
  }

  .apresentacao__imagens img {
    width: 100%;
    height: auto;
  }

  .apresentacao__link__explorar {
    font-size: 1rem;
  }
}

@media (max-width: 250px) {
  .apresentacao__imagens {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center; /* Centraliza os itens no grid */
    padding: 180%;
  }

  .apresentacao__imagens img {
    width: 100%;
    height: auto;
  }

  .apresentacao__link__explorar {
    font-size: 1rem;
  }
}

@media (max-width: 225px) {
  .apresentacao__imagens {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center; /* Centraliza os itens no grid */
    padding: 190%;
  }

  .apresentacao__imagens img {
    width: 100%;
    height: auto;
  }

  .apresentacao__link__explorar {
    font-size: 0.8rem;
  }
}
